*{
  padding: 0;
   margin: 0;
}
body{
  background-image: url(https://i.pinimg.com/originals/ca/e0/1a/cae01ab5cce960db0d7819cc96e97ce8.png);
  background-size: cover;
}
img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
button{
  width: 20%;
  height: 10%;
  background-color: white(53, 118, 96);
  border: 1px solid black ;
  align-self: center;

}
.mainCont {
  display:flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.cardsCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.mainCard {
  width: 30%;
  height: 40%;
  display: flex;
}
.card {
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
}