@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=PT+Sans+Narrow&display=swap');

:root {
  --titleFont: 'Lilita One', cursive;
  --lightColor: rgba(255, 255, 255, 0.85);
  --highlightColor: rgba(255, 180, 190, 0.6);
  --textColor: #585858;
}
*{
  padding: 0;
  margin: 0;
  font-family: var(--titleFont);
}
body{
  background-image: url(https://i.pinimg.com/originals/ca/e0/1a/cae01ab5cce960db0d7819cc96e97ce8.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  
}
.mainCont {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
}
#header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  font-family: var(--titleFont) ;
  background: var(--lightColor);
}
#header h1 {
  font-size: calc(40px + 1vw);
  text-align: center;
  padding: 3%;
  color: var(--textColor);
}
.gameMark{
  background: var(--highlightColor);
  border-radius: calc(3px + 1vw);
  width: 20%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
  font-size: calc(20px + 1vw);
}
#startButton{
  height: 15%;
  width: 25%;
  font-size: calc(40px + 1vw);
  background: var(--lightColor);
  color: var(--textColor);
  border: 1px solid white;
  margin-top: 15%;
}
.cardsCont {
  background: var(--lightColor);
  display: grid;
  height: 76%;
  width: 85%;
  grid-template-columns: repeat(6, 12%);
  grid-template-rows: repeat(2, 43%);
  gap: 4%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 0.8%;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  margin: 5px;
  top: 0;
  cursor: pointer;
  transform-style: preserve-3d;
  border-radius: calc(2px + 1vw);
  box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}

.front, .back {
  background: var(--lightColor);
  color: var(--textColor);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: calc(2px + 1vw);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  pointer-events: none;
  object-fit: cover;
}
.card-.back {
  transform: rotateY(180deg);
}
.flip {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  margin: 5px;
  top: 0;
  cursor: pointer;
  transform-style: preserve-3d;
  border-radius: 7px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: 4px solid rgba(255, 180, 190, 0.6);
}
.front {
  background-color: #EAFAFB;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  object-fit: contain;

}
.pokeName {
  width: 100%;
  height: 10%;
  align-self: flex-end;
  font-size: calc(4px + 1vw);
  margin-bottom: 5%;
}

.back {
  backface-visibility: hidden;
}

/* ---------- MEDIA QUERIES ---------------*/
@media only screen and (min-device-width: 320px) and (max-width: 480px)  {
  #header{
    width: 100%;
    height: 100px;
  }
  #header h1 {
    font-size: calc(25px + 1vw);
  }
  #startButton {
    font-size: calc(28px + 1vw);
    margin-top: 50%;
    width: 40%;
  }
  .cardsCont {
    grid-template-columns: repeat(3, 24%);
    grid-template-rows: repeat(4, 19%);
  }

  .gameMark {
    display: flex;
    font-size: calc(8px + 1vw);
    text-align: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) { 
  .cardsCont {
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(4, 20%);
  }
  #startButton {
    font-size: calc(40px + 1vw);
    margin-top: 45%;
    width: 40%;
  }
  .gameMark {
    display: flex;
    font-size: calc(13px + 1vw);
    text-align: center;
  }
}





















/*FOOTER*/
.footer{
  background: var(--lightColor);
  width: 100%;
  height: 5%;
  display: flex;
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  font-size: calc(8px + 1vw);
}
a{
  text-decoration: none;
  color: var(--textColor);
  font-size: calc(8px + 1vw);
  transition: 1s;
}
a:hover{
  font-size: calc(10px + 1vw);
  color: var(--highlightColor)
}

